<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tottenham Hotspur</title>
</head>
<body>
{% block content %}
{% endblock %}
<!--<h1>-->
<!--    <center>-->
<!--    Tottenham Hotspur-->
<!--    </center>-->
<!--</h1>-->

<!--<p>-->
<!--    <img style="width: 300px" src="/media/photo/Emblem.jpeg" alt="Emblem of CLub">-->
<!--</p>-->



<!--<h3><left>-->
<!--    «То́ттенхэм Хо́тспур» (полное название — Футбольный клуб «Тоттенхэм Хотспур», англ. Tottenham Hotspur Football Club;-->
<!--    английское произношение: [ˈtɒtənəm 'hɔtspɜ: 'futbɔ:l klʌb], «То́ттенем Хо́тспер») —-->
<!--    английский профессиональный футбольный клуб из Тоттенема, боро Харинги на севере Лондона.-->
<!--    Выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Основан в 1882 году.-->
<!--    Прозвище клуба — «шпоры» (англ. Spurs).-->
<!--    Домашние матчи проводит на одноимённом стадионе.-->
<!--    «Тоттенхэм Хотспур» стал первым клубом в XX веке, сделавшим домашний «дубль»,-->
<!--    выиграв и чемпионат, и Кубок Англии в сезоне 1960/1961.-->
<!--    В 1963 году «шпоры» стали первым британским клубом, выигравшим европейский кубок — Кубок обладателей кубков УЕФА.-->
<!--    В 1980-е годы «шпоры» выиграли несколько трофеев: дважды Кубок Англии, Суперкубок Англии, Кубок УЕФА (1983/1984).-->
<!--    «Тоттенхэм» традиционно соперничает с ближайшим соседом, «Арсеналом»: матчи между-->
<!--    этими двумя командами называют «северолондонским дерби».-->

<!--Главный тренер клуба — Антонио Конте, капитан команды — Уго Льорис.-->

<!--<div>-->
<!--    <h3>-->
<!--        <a href="/info/models.Players">Players</a>-->
<!--    </h3>-->
<!--    <h3>-->
<!--        <a href="info/models.Trophys">Trophys</a>-->
<!--    </h3>-->
<!--    <h3>-->
<!--        <a href="info/models.Matches">Matches</a>-->
<!--    </h3>-->



<!--</div>-->
<!--</left>-->
<!--</h3>-->




</body>
</html>